{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class='text-white my-5 '>About Page</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo fugiat voluptatem quaerat illum, repudiandae at ab molestiae. Corrupti eveniet possimus autem qui et commodi. Ipsam aliquam qui eveniet ad possimus aut distinctio sit explicabo, quasi quisquam soluta impedit adipisci, ea recusandae. Ducimus ut odit illo maiores vero consequatur fugiat nesciunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam nobis possimus earum harum qui consequuntur dolores dignissimos inventore, sunt modi soluta officiis eius fugit reiciendis quod magni aliquid aliquam minima laboriosam. Deleniti vero eius minima. Ipsam consectetur adipisci quae aperiam, quam pariatur eaque sunt at officiis, autem dicta culpa aliquid.</p>
    </div>
{% endblock content %}
