{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class='text-white my-5'>Home Page</h3>

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 my-3">
                <div class="post-container p-3 text-white bg-dark rounded-3">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.desc }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
