{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-6 mx-auto p-5 bg-dark text-white rounded my-5">
        <h3 class="text-center mb-4">Sign Up</h3>
        {% if messages %}
            {% for msg in messages %}
                <p {% if msg.tags %} class='alert alert-{{msg.tags}} mb-5' {% endif %} >{{msg}} </p>
            {% endfor %}    
        {% endif %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            
          
            {% for fm in form %}
            <div class="form-group mb-3 p-2">
              
                {{ fm.label_tag }} 
                {{ fm }}
                
             
                {% if fm.errors %}
                    <div class="text-danger mt-1">{{ fm.errors|striptags }}</div>
                {% endif %}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger mb-3">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary btn-lg px-5">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock content %}
